.root {
}

.listBox {
  /* can be removed */
}

.avatarBox {
  margin-left: 1em;
  margin-right: 1em;
}

.paperBox {
  display: flex;
  max-width: 60%;
  align-items: center;
}

.textBox {
  margin: 1em;
  width: 100%;
}

.text {
  font-size: 130%;
  text-align: left;
  word-break: break-all;
}

.textTime {
  display: flex;
  font-size: 60%;
  text-align: right;
  align-items: center;
  color: grey;
}

.textSender {
  font-style: italic;
  font-weight: lighter;
  text-align: left;
}

.stateBox {
  align-items: center;
  justify-content: flex-end;
  max-height: 1.5em;
}

.stateIconBox {
  max-height: inherit;
  margin-left: 5px;
  color: gray;
}

.stateIcon {
  color: inherit;
  font-size: small;
  max-height: inherit;
}

/* .test {
  min-width: 100px;
  min-height: 100px;
} */

.pictureBox {
  max-width: 100%;
  margin-top: 1%;
}

.videoBox {
  max-width: 100%;
  margin-top: 1%;
}

.musicBox {
  max-width: 100%;
  margin-top: 3%;
}
